body {
  background-color: #aae7e7;
}

header h2 {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
}

.container button {
  font-size: 20px;
  width: 240px;
  height: 68px;
  background-color: #fed136;
}
